:root {
  --black-color: black;
  --white-color: white;
  --gray-color: rgba(65, 64, 64, 1);
  --gray2-color: rgba(49, 49, 49, 1);
  --blue-color: #53acff;
  --green-color: #118f4b;
  --orange-color: #d94111;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  width: 100%;
  height: 100vh;
  background-color: var(--gray-color);
}

@media (max-width: 520px) {
  .App {
    overflow: hidden;
    width: 100%;
    background-color: var(--gray-color);
  }
}
